{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}ARCoLD{% endblock %}</h1>
{% endblock %}


{% block content %}
  {% for cage in cages %}
    <article class="post">
      <header>
        <div>
          <h1>{{ cage['id'] }}</h1>
          <div class="about">named {{ cage['name_cage'] }}</div>
        </div>
          <a class="action" href="{{ url_for('arcold.cage_details', id=cage['id']) }}">See it!</a>
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
